*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

@charset "UTF-8";

@font-face {
    font-family: "fa";
    src: url("../fonts/fa.eot");
    src: url("../fonts/fa.eot?#iefix") format("embedded-opentype"), url("../fonts/fa.woff") format("woff"), url("../fonts/fa.ttf") format("truetype"), url("../fonts/fa.svg#fa") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "fa" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
    font-family: "fa" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-search:before {
    content: "\62";
}

.ico-search-1:before {
    content: "\61";
}

.ico-arrow-combo:before {
    content: "\63";
}

.ico-line-up:before {
    content: "\64";
}

.ico-line-down:before {
    content: "\65";
}

.ico-news:before {
    content: "\62";
}

.ico-github:before {
    content: "\66";
}

.ico-paper-plane:before {
    content: "\67";
}

.ico-reddit:before {
    content: "\68";
}

.ico-forum:before {
    content: "\6a";
}

.ico-line-awesome-2:before {
    content: "\69";
}

.ico-block-ch {
    background-image: url(../fonts/icon/blc-ht.png);
}

.ico-nodes {
    background-image: url(../fonts/icon/nodes.png);
}

.ico-graph {
    background-image: url(../fonts/icon/graph.png);
}

.ico-res-time {
    background-image: url(../fonts/icon/res_time.png);
}
.ico-lst-blk {
    background-image: url(../fonts/icon/ico-block.png);
}

.ico-block-ch,
.ico-nodes,
.ico-graph,
.ico-res-time,.ico-lst-blk {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon:before {
    content: "\00a0";
}

.fl-i-us {
    background-image: url(../fonts/flags/us.svg);
}

.fl-i-jp {
    background-image: url(../fonts/flags/jp.svg);
}

/* main script  */

html,
body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    min-height: 100vh;
}

.ex-header {
    width: 100%;
    position: relative;
    background: transparent;
    min-height: 50px;
    transition: all 0.2s ease-in-out;
    position: relative;
    top: 0px;
}

.ex-header.bg01 {
    background: #1a4d60;
    border-top: 1px solid rgba(251, 251, 251, 0.32);
}

.n-p {
    padding: 0px;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

.bg-02 {
    background: #0998a6;
}

.logo-h {
    display: inline-block;
    max-width: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo {
    width: auto;
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.lang-swtch {
    display: block;
    float: right;
}

@media (min-width: 1200px) {
    .container {
        max-width: 86%;
    }
}

.full-con {
    width: 100%;
    height: auto;
    min-height: 1px;
    position: relative;
    display: inline-block;
}

.gradinet_01 {
    background: linear-gradient(-25deg, #112025, #038792 100%);
    background-size: 175% auto;
}

.top_head {
    padding-top: 20px;
    padding-bottom: 40px;
}

.top_head .logo {
    max-width: 40px;
}

.top_head .head-titl {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
    letter-spacing: 1px;
}

.top_head .head-sub-t {
    text-align: center;
    color: #e4e4e4;
    font-size: 14px;
}

.btn-gr {
    display: inline-block;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #fff;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.top_head .btn {
    border-radius: 4px;
    width: 68px;
    font-size: 12px;
}

.top_head .btn:hover,
.top_head .btn.active {
    background: #fff;
    color: #0998a6;
}

.search-grp {
    width: 100%;
    display: block;
    border: 1px solid #fff;
    position: relative;
    margin-top: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.search-grp input {
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
    padding: 10px 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.search-grp button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background: none;
    border: none;
    padding: 8px 10px;
    font-size: 20px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.lang-swtch .dropdown-toggle {
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.lang-swtch .dropdown-toggle i {
    padding-right: 24px;
}

.lang-swtch:hover>.dropdown-menu {
    display: block;
}

.lang-swtch .dropdown-menu {
    min-width: auto;
    padding: 0px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    transition: all 0.2s ease-in-out;
}

.lang-swtch .dropdown-menu a {
    color: #0997a3;
    text-align: right;
    padding: 0.25rem 0.8rem;
    text-decoration: none;
}

.lang-swtch .dropdown-menu a i {
    padding: 0px 15px;
}

.logo-wrap,
.lang-swtchwrap {
    display: none;
}

.nav-con,
.nav-menu {
    display: block;
    width: 100%;
}

.nav-menu {
    list-style: none;
    text-align: left;
    display: flex;
    padding: 0px;
}

.nav-menu li {
    flex: auto;
}

.nav-menu li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav-menu li.active a::before {
    content: '';
    position: absolute;
    top: -17px;
    width: calc(100% + 20px);
    height: 4px;
    background: #fff;
    transition: all 0.2s ease-in-out;
}

.nav-fixed {
    position: fixed;
    top: 0px;
    z-index: 10000;
}

.nav-fixed .logo-wrap,
.nav-fixed .lang-swtchwrap {
    display: block;
    max-width: 60px;
}

.info-col {
    width: 100%;
    border-radius: 4px;
    padding: 16px 6px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    display: inline-block;
    height: 100%;
}

.info-col .info-ico,
.info-col .info-desc {
    display: inline-block;
    float: left;
}

.info-col .info-ico {
    width: 50px;
    height: 50px;
}

.info-col .info-ico i {
    width: 100%;
    height: 100%;
}

.info-col h3 {
    color: #464646;
    margin-bottom: 0px;
    font-size: 12px;
}

.info-col p {
    margin: 0px;
    color: #6f6f6f;
    font-weight: 600;
}

.info-col .info-desc {
    padding-left: 10px;
    max-width: 80%;
}

.widget {
    background: #fff;
    border-radius: 4px;
    border: none;
    margin-bottom: 30px;
    min-height: 1px;
}

.has-shadow {
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .18);
}

.widget-body {
    padding: 1.4rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0;
}

.dataTables_wrapper.container-fluid {
    padding: 0 .7rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #98a8b4;
}

.form-control {
    font-size: 1rem;
    line-height: 1.25;
    color: #2c304d;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: .50rem .75rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1a4d60;
    outline: 0;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    font-size: 14px;
    color: #98a8b4;
}

.table thead {
    background-color: rgba(52, 40, 104, .05);
    border-radius: 4px;
}

.table thead th {
    vertical-align: middle;
    border: 0 none;
    padding: 18px 4px 18px 4px;
    color: #0997a3;
    font-weight: 600;
    outline: none;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    font-family: "fa" !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    opacity: .3;
    font-size: 1.2rem;
    font-weight: normal;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\65";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: .5em;
    content: "\64";
}

.dataTables_wrapper .dataTables_filter {
    text-align: right;
}

.table td {
    border-top: 0;
    padding: .3rem;
    vertical-align: middle;
    font-weight: 500;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

div.dataTables_wrapper div.dataTables_info {
    color: #98a8b4;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.pagination li {
    list-style: none;
}

.page-link {
    padding: .5rem;
    line-height: 1rem;
    text-align: center;
    color: #aea9c3;
    margin: 0 .3rem;
    background-color: transparent;
    border: 0 none;
    font-size: 1rem;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 5px;
}

.page-item.disabled .page-link {
    color: rgba(52, 40, 104, .15);
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}

.page-item.active .page-link {
    z-index: 2;
    color: #5d5386;
    background-color: transparent;
    font-weight: 600;
}

table.table-bordered.dataTable tbody tr {
    height: 50px;
}

.page_con {
    width: 100%;
    position: relative;
    min-height: 70vh;
}

.footer {
    background: #083338;
    padding: 30px 0px 0px;
}

.footer .ftr_btm {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #fff;
    position: relative;
    padding: 10px 0px;
    border-top: 1px solid #fff;
}

.footer .ft-logo a {
    height: 30px;
    display: inline-block;
}

.footer .ft-logo a img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.footer .ft-desc p {
    font-size: 12px;
    text-align: justify;
    color: #fff;
}

.social-icon {
    list-style: none;
    text-align: justify;
    display: flex;
    margin-top: 40px;
}

.social-icon li {
    display: inline-block;
    flex: auto;
}

.social-icon li a {
    color: #fff;
    text-decoration: none;
}

.social-icon li a span {
    margin-left: 5px;
}

.footer .ftr-menu {
    margin-top: 40px;
    list-style: none;
}

.footer .ftr-menu li a {
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
}

.page-header {
    position: relative;
    z-index: 99;
    padding: 0 15px 15px 15px;
    width: 100%;
}

.page-header-title {
    color: #1a4d60;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: auto !important;
}

.widget-header {
    background: #fff;
    padding: .85rem 1.4rem;
    position: relative;
    width: 100%;
}

.widget-header.bordered {
    border-bottom: .07rem solid #eee;
}

.widget-header.no-actions {
    padding: 1.49rem;
}

.widget-header h1,
.widget-header h2,
.widget-header h3,
.widget-header h4,
.widget-header h5,
.widget-header h6 {
    color: #2c304d;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 500;
}
.leaflet-container .leaflet-control-attribution{
    display: none;
}
@media (max-width: 576px) {
    .ex-header {
        padding: 0px 15px;
    }

    .mob_con {
        padding: 0px 10px;
    }

    .info-col h3,
    .info-col p {
        font-size: 14px;
    }

    .node_list_con .dataTables_wrapper {
        padding: 0px;
    }

    .node_list_con div.dataTables_wrapper div.dataTables_length label,
    .node_list_con div.dataTables_wrapper div.dataTables_filter label {
        float: left;
    }

    .footer .ftr-menu {
        margin-top: 20px;
        padding: 0px;
    }

    .social-icon {
        padding: 0px;
    }

    .footer .ftr_btm {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .social-icon {
        display: block;
    }

    .social-icon li {
        display: block;
        flex: none;
        margin-top: 10px;
    }
}