<% include comm/header %>
<% include comm/top-head %>
<% include comm/menu %>
<div class="page_con">
    <div class="full-con mt-5 mob_con">
        <div class="container">
            <div class="row chain_info_sync">
                <div class="col-lg-3 col-md-6 col-sm-6 row-eq-height  p-2 block_01">
                    <div class="info-col">
                        <div class="info-ico">
                            <i class="ico-block-ch"></i>
                        </div>
                        <div class="info-desc">
                            <h3>Block Height (Last Block)</h3>
                            <p><%=page_data.chain_info.chain_height%></p>
                        </div>
                    </div>
                </div>
                <%
                var node_online_tot = 0;
                var avg_resp_time =0;
                Object.keys(page_data.node_list).forEach(function(key) { 
                    var item = page_data.node_list[key];       
                    if(item.status == 1) node_online_tot++;
                    if(item.resp_time)
                    avg_resp_time = avg_resp_time + item.resp_time;  
                                     
                })
                avg_resp_time = avg_resp_time/node_online_tot;
                %>

                <div class="col-lg-3 col-md-6  row-eq-height p-2 block_02">
                    <div class="info-col">
                        <div class="info-ico">
                            <i class="ico-nodes"></i>
                        </div>
                        <div class="info-desc nodes_online_now">
                            <h3>Nodes Online (now)</h3>
                            <p><%-node_online_tot %></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 row-eq-height  p-2 block_03">
                    <div class="info-col">
                        <div class="info-ico">
                            <i class="ico-lst-blk"></i>
                        </div>
                        <div class="info-desc">
                            <h3><% new Date(page_data.chain_info.last_block_info.block.timestamp).toLocaleString() %>
                            </h3>
                            <% %>

                            <p>Last Block (ago)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 row-eq-height  p-2 block_04">
                    <div class="info-col">
                        <div class="info-ico">
                            <i class="ico-res-time"></i>
                        </div>
                        <div class="info-desc">
                            <h3>Node Avg Response Time</h3>
                            <p><%-avg_resp_time %>(ms) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-con mt-4 mob_con">
        <div class="container p-2">
            <div class="widget has-shadow">
                <div class="widget-body node_list_con">
                    <div class="table-responsive">
                        <div id="sorting-table_wrapper"
                            class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <table id="table-nodes-list" class="table table-striped table-bordered " cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <!-- <th>Internet Service Provider</th> -->
                                        <th>Server Name</th>
                                        <th>Resolved IP</th>
                                        <th>Version</th>
                                        <th>Location</th>
                                        <th>Internet Service Provider</th>
                                        <th>Height</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var i = 1;  
                                Object.keys(page_data.node_list).forEach(function(key) { 
                                    var item = page_data.node_list[key];    %>
                                    <tr data-s-ip="<%= key %>">
                                        <td data-idx="1"><%= i %></td>
                                        <td data-idx="2">
                                            <% if(item.nodeinfo){ %><%= item.nodeinfo.friendlyName %><% }else {%>
                                            Unknown <% }%></td>
                                        <td data-idx="3"><%= key %></td>
                                        <td data-idx="4">
                                            <% if(item.nodeinfo){ %><%= item.nodeinfo.version %><% }else {%> - <% }%>
                                        </td>
                                        <td data-idx="5"><%= item.region+' : '+item.country %></td>
                                        <td data-idx="6"><%= item.isp %></td>
                                        <td data-idx="7"><%= item.chain_height %></td>
                                        <td data-idx="9"><% if(item.status == 1){%>Online <% }else {%> Offline <% } %>
                                        </td>
                                    </tr>
                                    <% i++; }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include comm/footer %>
<% include comm/base_scripts %>
<script src="theme/js/datatable.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var dt = $('#table-nodes-list').DataTable({
            "lengthMenu": [
                [10, 15, 20, -1],
                [10, 15, 20, "All"]
            ],
            "order": [
            ]
        });
        sync_data();
        setInterval(function () {
            sync_data()
        }, 10000);
        function sync_data() {
            // $.getJSON('<%-conf.base_url%>api/chain_info', (items) => {
            // }).then(nodeInfo => {
            //     console.log(nodeInfo);
            //     $('.chain_info_sync .block_01 .info-desc p').html(nodeInfo.height);
            //     var myDate = new Date(nodeInfo.block_timestamp);
            //     $('.chain_info_sync .block_03 .info-desc h3').html(timeDifference(myDate));
            // });
            //
            $.ajax({
                url: '<%-conf.base_url%>api/chain_info',
                dataType: "json",
                contentType: "application/json",
                success: function (nodeInfo) {
                    console.log(nodeInfo);
                    $('.chain_info_sync .block_01 .info-desc p').html(nodeInfo.height);
                    var myDate = new Date(nodeInfo.block_timestamp);
                    $('.chain_info_sync .block_03 .info-desc h3').html(timeDifference(myDate));
                },
                error: function () {
                    //any error to be handled
                }
            });

        }
        function timeDifference(previous, current = new Date(), ) {

            var msPerMinute = 60 * 1000;
            var msPerHour = msPerMinute * 60;
            var msPerDay = msPerHour * 24;
            var msPerMonth = msPerDay * 30;
            var msPerYear = msPerDay * 365;

            var elapsed = current - previous;

            if (elapsed < msPerMinute) {
                return Math.round(elapsed / 1000) + ' seconds ago';
            }

            else if (elapsed < msPerHour) {
                return Math.round(elapsed / msPerMinute) + ' minutes ago';
            }

            else if (elapsed < msPerDay) {
                return Math.round(elapsed / msPerHour) + ' hours ago';
            }

            else if (elapsed < msPerMonth) {
                return 'approximately ' + Math.round(elapsed / msPerDay) + ' days ago';
            }

            else if (elapsed < msPerYear) {
                return 'approximately ' + Math.round(elapsed / msPerMonth) + ' months ago';
            }

            else {
                return 'approximately ' + Math.round(elapsed / msPerYear) + ' years ago';
            }
        }
    });
</script>

<% include comm/page_end %>