<% include comm/header %>
<% include comm/top-head %>
<% include comm/menu %>
<div class="full-con mt-5">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <div class="d-flex align-items-center">
                        <h2 class="page-header-title">Node Monitor</h2>
                    </div>
                </div>
            </div>
            <div class="widget has-shadow">
                <div class="widget-body">
                    <div class="chart">
                        <canvas id="node-monitor01" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-con mt-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered  d-flex align-items-center">
                            <h4>NEM unique harvesters daily chart</h4>
                        </div>
                        <div class="widget-body">
                            <div class="chart">
                                <canvas id="nem-uqharvstr" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered  d-flex align-items-center">
                            <h4>NEM transactions per day chart</h4>
                        </div>
                        <div class="widget-body">
                            <div class="chart">
                                <canvas id="nem-transc" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered  d-flex align-items-center">
                            <h4>NEM accounts over time</h4>
                        </div>
                        <div class="widget-body">
                            <div class="chart">
                                <canvas id="nem-accnts" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered  d-flex align-items-center">
                            <h4>NEM average block difficulty per day</h4>
                        </div>
                        <div class="widget-body">
                            <div class="chart">
                                <canvas id="nem-avg-dfclty" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<% include comm/footer %>
<% include comm/base_scripts %>
    <script src="theme/js/chart.min.js" type="text/javascript"></script> 
    <script type="text/javascript">
        (function (c) {
            var a = document.getElementById("node-monitor01").getContext("2d");
            var b = new Chart(a, {
                type: "line",
                data: {
                    labels: ['2019-02-18 09:26', '2019-02-18 09:16', '2019-02-18 09:05', '2019-02-18 08:56', '2019-02-18 08:45', '2019-02-18 08:36', '2019-02-18 08:25', '2019-02-18 08:15', '2019-02-18 08:05', '2019-02-18 07:56', '2019-02-18 07:45', '2019-02-18 07:35', '2019-02-18 07:25', '2019-02-18 07:15', '2019-02-18 07:05', '2019-02-18 06:56', '2019-02-18 06:45', '2019-02-18 06:36', '2019-02-18 06:25', '2019-02-18 06:15', '2019-02-18 06:06', '2019-02-18 05:55', '2019-02-18 05:45', '2019-02-18 05:35', '2019-02-18 05:26', '2019-02-18 05:15', '2019-02-18 04:55', '2019-02-18 04:46', '2019-02-18 04:35', '2019-02-18 04:25', '2019-02-18 04:16', '2019-02-18 04:05', '2019-02-18 03:56', '2019-02-18 03:46', '2019-02-18 03:36', '2019-02-18 03:26', '2019-02-18 03:16', '2019-02-18 03:06', '2019-02-18 02:55', '2019-02-18 02:46', '2019-02-18 02:36', '2019-02-18 02:25', '2019-02-18 02:16', '2019-02-18 02:05', '2019-02-18 01:55', '2019-02-18 01:45', '2019-02-18 01:35', '2019-02-18 01:25', '2019-02-18 01:15', '2019-02-18 01:05', '2019-02-18 00:55', '2019-02-18 00:45', '2019-02-18 00:35', '2019-02-18 00:25', '2019-02-18 00:15', '2019-02-18 00:06', '2019-02-17 23:55', '2019-02-17 23:45', '2019-02-17 23:36', '2019-02-17 23:26', '2019-02-17 23:15', '2019-02-17 23:05', '2019-02-17 22:55', '2019-02-17 22:46', '2019-02-17 22:36', '2019-02-17 22:26', '2019-02-17 22:16', '2019-02-17 22:05', '2019-02-17 21:55', '2019-02-17 21:45', '2019-02-17 21:35', '2019-02-17 21:25', '2019-02-17 21:15', '2019-02-17 21:05', '2019-02-17 20:55', '2019-02-17 20:46', '2019-02-17 20:36', '2019-02-17 20:26', '2019-02-17 20:15', '2019-02-17 20:05', '2019-02-17 19:55', '2019-02-17 19:45', '2019-02-17 19:35', '2019-02-17 19:26', '2019-02-17 19:15', '2019-02-17 19:06', '2019-02-17 18:56', '2019-02-17 18:45', '2019-02-17 18:36', '2019-02-17 18:25', '2019-02-17 18:15', '2019-02-17 18:06', '2019-02-17 17:55', '2019-02-17 17:45', '2019-02-17 17:35', '2019-02-17 17:26', '2019-02-17 17:16', '2019-02-17 17:05', '2019-02-17 16:55', '2019-02-17 16:45', '2019-02-17 16:36', '2019-02-17 16:26', '2019-02-17 16:15', '2019-02-17 16:06', '2019-02-17 15:55', '2019-02-17 15:46', '2019-02-17 15:36', '2019-02-17 15:26', '2019-02-17 15:16', '2019-02-17 15:06', '2019-02-17 14:55', '2019-02-17 14:45', '2019-02-17 14:35', '2019-02-17 14:26', '2019-02-17 14:16', '2019-02-17 14:05', '2019-02-17 13:56', '2019-02-17 13:45', '2019-02-17 13:36', '2019-02-17 13:26', '2019-02-17 13:16', '2019-02-17 13:05', '2019-02-17 12:55', '2019-02-17 12:45', '2019-02-17 12:36', '2019-02-17 12:26', '2019-02-17 12:15', '2019-02-17 12:06', '2019-02-17 11:55', '2019-02-17 11:45', '2019-02-17 11:36', '2019-02-17 11:26', '2019-02-17 11:15', '2019-02-17 11:06', '2019-02-17 10:55', '2019-02-17 10:46', '2019-02-17 10:36', '2019-02-17 10:25', '2019-02-17 10:15', '2019-02-17 10:05', '2019-02-17 09:56', '2019-02-17 09:46', '2019-02-17 09:36', '2019-02-17 09:26', '2019-02-17 09:15', '2019-02-17 09:06', '2019-02-17 08:55', '2019-02-17 08:45', '2019-02-17 08:36', '2019-02-17 08:25', '2019-02-17 08:16', '2019-02-17 08:06', '2019-02-17 07:55', '2019-02-17 07:46', '2019-02-17 07:36', '2019-02-17 07:26', '2019-02-17 07:16', '2019-02-17 07:06', '2019-02-17 06:56', '2019-02-17 06:46', '2019-02-17 06:36', '2019-02-17 06:26', '2019-02-17 06:16', '2019-02-17 06:06', '2019-02-17 05:55', '2019-02-17 05:45', '2019-02-17 05:36', '2019-02-17 05:25', '2019-02-17 05:16', '2019-02-17 04:55', '2019-02-17 04:46', '2019-02-17 04:35', '2019-02-17 04:26', '2019-02-17 04:16', '2019-02-17 04:06', '2019-02-17 03:55', '2019-02-17 03:46', '2019-02-17 03:35', '2019-02-17 03:25', '2019-02-17 03:16', '2019-02-17 03:06', '2019-02-17 02:56', '2019-02-17 02:45', '2019-02-17 02:36', '2019-02-17 02:25', '2019-02-17 02:15', '2019-02-17 02:06', '2019-02-17 01:55', '2019-02-17 01:45', '2019-02-17 01:36', '2019-02-17 01:26', '2019-02-17 01:15', '2019-02-17 01:06', '2019-02-17 00:56', '2019-02-17 00:45', '2019-02-17 00:36', '2019-02-17 00:26', '2019-02-17 00:16', '2019-02-17 00:06', '2019-02-16 23:55', '2019-02-16 23:46', '2019-02-16 23:36', '2019-02-16 23:26', '2019-02-16 23:16', '2019-02-16 23:06', '2019-02-16 22:56', '2019-02-16 22:45', '2019-02-16 22:35', '2019-02-16 22:25', '2019-02-16 22:16', '2019-02-16 22:05', '2019-02-16 21:56', '2019-02-16 21:46', '2019-02-16 21:35', '2019-02-16 21:26', '2019-02-16 21:16', '2019-02-16 21:05', '2019-02-16 20:56', '2019-02-16 20:45', '2019-02-16 20:35', '2019-02-16 20:26', '2019-02-16 20:16', '2019-02-16 20:06', '2019-02-16 19:56', '2019-02-16 19:46', '2019-02-16 19:35', '2019-02-16 19:26', '2019-02-16 19:16', '2019-02-16 19:05', '2019-02-16 18:56', '2019-02-16 18:45', '2019-02-16 18:35', '2019-02-16 18:25', '2019-02-16 18:15', '2019-02-16 18:06', '2019-02-16 17:55', '2019-02-16 17:45', '2019-02-16 17:35', '2019-02-16 17:26', '2019-02-16 17:16', '2019-02-16 17:06', '2019-02-16 16:56', '2019-02-16 16:46', '2019-02-16 16:35', '2019-02-16 16:26', '2019-02-16 16:16', '2019-02-16 16:06', '2019-02-16 15:55', '2019-02-16 15:46', '2019-02-16 15:35', '2019-02-16 15:25', '2019-02-16 15:16', '2019-02-16 15:06', '2019-02-16 14:56', '2019-02-16 14:46', '2019-02-16 14:35', '2019-02-16 14:26', '2019-02-16 14:15', '2019-02-16 14:06', '2019-02-16 13:56', '2019-02-16 13:45', '2019-02-16 13:36', '2019-02-16 13:25', '2019-02-16 13:15', '2019-02-16 13:05', '2019-02-16 12:55', '2019-02-16 12:46', '2019-02-16 12:35', '2019-02-16 12:25', '2019-02-16 12:17', '2019-02-16 12:06', '2019-02-16 11:55', '2019-02-16 11:45', '2019-02-16 11:36', '2019-02-16 11:25', '2019-02-16 11:15', '2019-02-16 11:05', '2019-02-16 10:46', '2019-02-16 10:35', '2019-02-16 10:25', '2019-02-16 10:16', '2019-02-16 10:06', '2019-02-16 09:56', '2019-02-16 09:45', '2019-02-16 09:35', '2019-02-16 09:25', '2019-02-16 09:15', '2019-02-16 09:06', '2019-02-16 08:56', '2019-02-16 08:45', '2019-02-16 08:36', '2019-02-16 08:26', '2019-02-16 08:15', '2019-02-16 08:06', '2019-02-16 07:55', '2019-02-16 07:45', '2019-02-16 07:35', '2019-02-16 07:25', '2019-02-16 07:16', '2019-02-16 07:06', '2019-02-16 06:55', '2019-02-16 06:45', '2019-02-16 06:35', '2019-02-16 06:25', '2019-02-16 06:15', '2019-02-16 06:05', '2019-02-16 05:55', '2019-02-16 05:45', '2019-02-16 05:35', '2019-02-16 05:26', '2019-02-16 05:15', '2019-02-16 04:55', '2019-02-16 04:45', '2019-02-16 04:36', '2019-02-16 04:25', '2019-02-16 04:15', '2019-02-16 04:05', '2019-02-16 03:55', '2019-02-16 03:45', '2019-02-16 03:35', '2019-02-16 03:25', '2019-02-16 03:15', '2019-02-16 03:06', '2019-02-16 02:55', '2019-02-16 02:45', '2019-02-16 02:35', '2019-02-16 02:25', '2019-02-16 02:15', '2019-02-16 02:06', '2019-02-16 01:56', '2019-02-16 01:45', '2019-02-16 01:35', '2019-02-16 01:25', '2019-02-16 01:15', '2019-02-16 01:05', '2019-02-16 00:56', '2019-02-16 00:45', '2019-02-16 00:35', '2019-02-16 00:25', '2019-02-16 00:15', '2019-02-16 00:05', '2019-02-15 23:55', '2019-02-15 23:45', '2019-02-15 23:35', '2019-02-15 23:26', '2019-02-15 23:15', '2019-02-15 23:05', '2019-02-15 22:55', '2019-02-15 22:46', '2019-02-15 22:35', '2019-02-15 22:25', '2019-02-15 22:16', '2019-02-15 22:05', '2019-02-15 21:55', '2019-02-15 21:46', '2019-02-15 21:36', '2019-02-15 21:26', '2019-02-15 21:15', '2019-02-15 21:06', '2019-02-15 20:56', '2019-02-15 20:46', '2019-02-15 20:36', '2019-02-15 20:25', '2019-02-15 20:16', '2019-02-15 20:05', '2019-02-15 19:55', '2019-02-15 19:46', '2019-02-15 19:35', '2019-02-15 19:25', '2019-02-15 19:16', '2019-02-15 19:05', '2019-02-15 18:55', '2019-02-15 18:46', '2019-02-15 18:36', '2019-02-15 18:25', '2019-02-15 18:16', '2019-02-15 18:06', '2019-02-15 17:55', '2019-02-15 17:46', '2019-02-15 17:35', '2019-02-15 17:26', '2019-02-15 17:16', '2019-02-15 17:06', '2019-02-15 16:55', '2019-02-15 16:45', '2019-02-15 16:35', '2019-02-15 16:25', '2019-02-15 16:15', '2019-02-15 16:05', '2019-02-15 15:56', '2019-02-15 15:45', '2019-02-15 15:36', '2019-02-15 15:25', '2019-02-15 15:15', '2019-02-15 15:05', '2019-02-15 14:55', '2019-02-15 14:45', '2019-02-15 14:35', '2019-02-15 14:25', '2019-02-15 14:16', '2019-02-15 14:06', '2019-02-15 13:55', '2019-02-15 13:45', '2019-02-15 13:36', '2019-02-15 13:25', '2019-02-15 13:15', '2019-02-15 13:06', '2019-02-15 12:56', '2019-02-15 12:46', '2019-02-15 12:36', '2019-02-15 12:25', '2019-02-15 12:15', '2019-02-15 12:06', '2019-02-15 11:56', '2019-02-15 11:46', '2019-02-15 11:35', '2019-02-15 11:25', '2019-02-15 11:16', '2019-02-15 11:05', '2019-02-15 10:55', '2019-02-15 10:45', '2019-02-15 10:35', '2019-02-15 10:25', '2019-02-15 10:15', '2019-02-15 10:05', '2019-02-15 09:56', '2019-02-15 09:46', '2019-02-15 09:36', '2019-02-15 09:26', '2019-02-15 09:15', '2019-02-15 09:06', '2019-02-15 08:55', '2019-02-15 08:46', '2019-02-15 08:36', '2019-02-15 08:25', '2019-02-15 08:16', '2019-02-15 08:05', '2019-02-15 07:56', '2019-02-15 07:46', '2019-02-15 07:35', '2019-02-15 07:25', '2019-02-15 07:15', '2019-02-15 07:06', '2019-02-15 06:55', '2019-02-15 06:45', '2019-02-15 06:36', '2019-02-15 06:25', '2019-02-15 06:15', '2019-02-15 06:06', '2019-02-15 05:56', '2019-02-15 05:45', '2019-02-15 05:36', '2019-02-15 05:26', '2019-02-15 05:15', '2019-02-15 04:56', '2019-02-15 04:46', '2019-02-15 04:36', '2019-02-15 04:26', '2019-02-15 04:15', '2019-02-15 04:05', '2019-02-15 03:55', '2019-02-15 03:46', '2019-02-15 03:35', '2019-02-15 03:25', '2019-02-15 03:16', '2019-02-15 03:05', '2019-02-15 02:56', '2019-02-15 02:45', '2019-02-15 02:35', '2019-02-15 02:25', '2019-02-15 02:15', '2019-02-15 02:06', '2019-02-15 01:55', '2019-02-15 01:45', '2019-02-15 01:35', '2019-02-15 01:26', '2019-02-15 01:15', '2019-02-15 01:06', '2019-02-15 00:56', '2019-02-15 00:46', '2019-02-15 00:36', '2019-02-15 00:25', '2019-02-15 00:16', '2019-02-15 00:06', '2019-02-14 23:56', '2019-02-14 23:45', '2019-02-14 23:35', '2019-02-14 23:25', '2019-02-14 23:16', '2019-02-14 23:06', '2019-02-14 22:55', '2019-02-14 22:45', '2019-02-14 22:35', '2019-02-14 22:26', '2019-02-14 22:16', '2019-02-14 22:05', '2019-02-14 21:55', '2019-02-14 21:46', '2019-02-14 21:35', '2019-02-14 21:26', '2019-02-14 21:16', '2019-02-14 21:05', '2019-02-14 20:56', '2019-02-14 20:45', '2019-02-14 20:35', '2019-02-14 20:25', '2019-02-14 20:16', '2019-02-14 20:05', '2019-02-14 19:56', '2019-02-14 19:45', '2019-02-14 19:35', '2019-02-14 19:25', '2019-02-14 19:15', '2019-02-14 19:06', '2019-02-14 18:55', '2019-02-14 18:45', '2019-02-14 18:35', '2019-02-14 18:25', '2019-02-14 18:16', '2019-02-14 18:05', '2019-02-14 17:56', '2019-02-14 17:45', '2019-02-14 17:35', '2019-02-14 17:26', '2019-02-14 17:15', '2019-02-14 17:06', '2019-02-14 16:55', '2019-02-14 16:45', '2019-02-14 16:36', '2019-02-14 16:25', '2019-02-14 16:16', '2019-02-14 16:05', '2019-02-14 15:56', '2019-02-14 15:45', '2019-02-14 15:35', '2019-02-14 15:25', '2019-02-14 15:15', '2019-02-14 15:06', '2019-02-14 14:56', '2019-02-14 14:45', '2019-02-14 14:35', '2019-02-14 14:26', '2019-02-14 14:15', '2019-02-14 14:06', '2019-02-14 13:55', '2019-02-14 13:46', '2019-02-14 13:36', '2019-02-14 13:25', '2019-02-14 13:15', '2019-02-14 13:06', '2019-02-14 12:55', '2019-02-14 12:46', '2019-02-14 12:35', '2019-02-14 12:26', '2019-02-14 12:15', '2019-02-14 12:05', '2019-02-14 11:55', '2019-02-14 11:46', '2019-02-14 11:36', '2019-02-14 11:26', '2019-02-14 11:15', '2019-02-14 11:05', '2019-02-14 10:56', '2019-02-14 10:45', '2019-02-14 10:36', '2019-02-14 10:26', '2019-02-14 10:16', '2019-02-14 10:06', '2019-02-14 09:55', '2019-02-14 09:45', '2019-02-14 09:36', '2019-02-14 09:26', '2019-02-14 09:15', '2019-02-14 09:06', '2019-02-14 08:56', '2019-02-14 08:45', '2019-02-14 08:36', '2019-02-14 08:25', '2019-02-14 08:15', '2019-02-14 08:05', '2019-02-14 07:56', '2019-02-14 07:46', '2019-02-14 07:35', '2019-02-14 07:26', '2019-02-14 07:15', '2019-02-14 07:06', '2019-02-14 06:56', '2019-02-14 06:46', '2019-02-14 06:36', '2019-02-14 06:26', '2019-02-14 06:15', '2019-02-14 06:05', '2019-02-14 05:55', '2019-02-14 05:45', '2019-02-14 05:36', '2019-02-14 05:25', '2019-02-14 05:16', '2019-02-14 04:55', '2019-02-14 04:45', '2019-02-14 04:35', '2019-02-14 04:26', '2019-02-14 04:15', '2019-02-14 04:05', '2019-02-14 03:55', '2019-02-14 03:45', '2019-02-14 03:35', '2019-02-14 03:26', '2019-02-14 03:16', '2019-02-14 03:06', '2019-02-14 02:55', '2019-02-14 02:45', '2019-02-14 02:35', '2019-02-14 02:25', '2019-02-14 02:15', '2019-02-14 02:05', '2019-02-14 01:56', '2019-02-14 01:45', '2019-02-14 01:36', '2019-02-14 01:26', '2019-02-14 01:15', '2019-02-14 01:05', '2019-02-14 00:56', '2019-02-14 00:45', '2019-02-14 00:35', '2019-02-14 00:25', '2019-02-14 00:15', '2019-02-14 00:05', '2019-02-13 23:55', '2019-02-13 23:46', '2019-02-13 23:35', '2019-02-13 23:25', '2019-02-13 23:15', '2019-02-13 23:06', '2019-02-13 22:55', '2019-02-13 22:45', '2019-02-13 22:35', '2019-02-13 22:25', '2019-02-13 22:15', '2019-02-13 22:05', '2019-02-13 21:55', '2019-02-13 21:45', '2019-02-13 21:36', '2019-02-13 21:26', '2019-02-13 21:16', '2019-02-13 21:06', '2019-02-13 20:56', '2019-02-13 20:46', '2019-02-13 20:35', '2019-02-13 20:25', '2019-02-13 20:15', '2019-02-13 20:05', '2019-02-13 19:56', '2019-02-13 19:45', '2019-02-13 19:35', '2019-02-13 19:25', '2019-02-13 19:15', '2019-02-13 19:05', '2019-02-13 18:55', '2019-02-13 18:45', '2019-02-13 18:35', '2019-02-13 18:25', '2019-02-13 18:15', '2019-02-13 18:06', '2019-02-13 17:56', '2019-02-13 17:45', '2019-02-13 17:36', '2019-02-13 17:26', '2019-02-13 17:15', '2019-02-13 17:06', '2019-02-13 16:56', '2019-02-13 16:45', '2019-02-13 16:36', '2019-02-13 16:25', '2019-02-13 16:16', '2019-02-13 16:06', '2019-02-13 15:56', '2019-02-13 15:46', '2019-02-13 15:36', '2019-02-13 15:25', '2019-02-13 15:15', '2019-02-13 15:05', '2019-02-13 14:56', '2019-02-13 14:45', '2019-02-13 14:36', '2019-02-13 14:25', '2019-02-13 14:15', '2019-02-13 14:06', '2019-02-13 13:55', '2019-02-13 13:46', '2019-02-13 13:36', '2019-02-13 13:26', '2019-02-13 13:16', '2019-02-13 13:06', '2019-02-13 12:56', '2019-02-13 12:45', '2019-02-13 12:35', '2019-02-13 12:25', '2019-02-13 12:15', '2019-02-13 12:05', '2019-02-13 11:56', '2019-02-13 11:45', '2019-02-13 11:36', '2019-02-13 11:26', '2019-02-13 11:16', '2019-02-13 11:05', '2019-02-13 10:56', '2019-02-13 10:46', '2019-02-13 10:36', '2019-02-13 10:26', '2019-02-13 10:16', '2019-02-13 10:06', '2019-02-13 09:57', '2019-02-13 09:45', '2019-02-13 09:36', '2019-02-13 09:26', '2019-02-13 09:16', '2019-02-13 09:06', '2019-02-13 08:55', '2019-02-13 08:46', '2019-02-13 08:36', '2019-02-13 08:26', '2019-02-13 08:16', '2019-02-13 08:06', '2019-02-13 07:56', '2019-02-13 07:46', '2019-02-13 07:36', '2019-02-13 07:26', '2019-02-13 07:16', '2019-02-13 07:06', '2019-02-13 06:56', '2019-02-13 06:46', '2019-02-13 06:36', '2019-02-13 06:26', '2019-02-13 06:16', '2019-02-13 06:06', '2019-02-13 05:56', '2019-02-13 05:46', '2019-02-13 05:36', '2019-02-13 05:26', '2019-02-13 05:16', '2019-02-13 04:56', '2019-02-13 04:46', '2019-02-13 04:36', '2019-02-13 04:26', '2019-02-13 04:16', '2019-02-13 04:06', '2019-02-13 03:56', '2019-02-13 03:46', '2019-02-13 03:37', '2019-02-13 03:26', '2019-02-13 03:17', '2019-02-13 03:07', '2019-02-13 02:57', '2019-02-13 02:46', '2019-02-13 02:36', '2019-02-13 02:26', '2019-02-13 02:16', '2019-02-13 02:06', '2019-02-13 01:56', '2019-02-13 01:46', '2019-02-13 01:36', '2019-02-13 01:26', '2019-02-13 01:16', '2019-02-13 01:06', '2019-02-13 00:56', '2019-02-13 00:46', '2019-02-13 00:36', '2019-02-13 00:26', '2019-02-13 00:16', '2019-02-13 00:06', '2019-02-12 23:56', '2019-02-12 23:46', '2019-02-12 23:37', '2019-02-12 23:26', '2019-02-12 23:16', '2019-02-12 23:06', '2019-02-12 22:56', '2019-02-12 22:46', '2019-02-12 22:36', '2019-02-12 22:26', '2019-02-12 22:16', '2019-02-12 22:06', '2019-02-12 21:56', '2019-02-12 21:47', '2019-02-12 21:36', '2019-02-12 21:27', '2019-02-12 21:17', '2019-02-12 21:07', '2019-02-12 20:57', '2019-02-12 20:46', '2019-02-12 20:37', '2019-02-12 20:26', '2019-02-12 20:16', '2019-02-12 20:07', '2019-02-12 19:56', '2019-02-12 19:46', '2019-02-12 19:36', '2019-02-12 19:27', '2019-02-12 19:16', '2019-02-12 19:06', '2019-02-12 18:57', '2019-02-12 18:47', '2019-02-12 18:37', '2019-02-12 18:27', '2019-02-12 18:17', '2019-02-12 18:07', '2019-02-12 17:57', '2019-02-12 17:47', '2019-02-12 17:37', '2019-02-12 17:27', '2019-02-12 17:17', '2019-02-12 17:07', '2019-02-12 16:57', '2019-02-12 16:47', '2019-02-12 16:37', '2019-02-12 16:27', '2019-02-12 16:17', '2019-02-12 16:07', '2019-02-12 15:57', '2019-02-12 15:47', '2019-02-12 15:37', '2019-02-12 15:27', '2019-02-12 15:17', '2019-02-12 15:07', '2019-02-12 14:57', '2019-02-12 14:47', '2019-02-12 14:37', '2019-02-12 14:26', '2019-02-12 14:16', '2019-02-12 14:06', '2019-02-12 13:57', '2019-02-12 13:46', '2019-02-12 13:37', '2019-02-12 13:27', '2019-02-12 13:17', '2019-02-12 13:07', '2019-02-12 12:57', '2019-02-12 12:47', '2019-02-12 12:37', '2019-02-12 12:28', '2019-02-12 12:17', '2019-02-12 12:07', '2019-02-12 11:57', '2019-02-12 11:47', '2019-02-12 11:37', '2019-02-12 11:27', '2019-02-12 11:17', '2019-02-12 11:06', '2019-02-12 10:57', '2019-02-12 10:47', '2019-02-12 10:37', '2019-02-12 10:27', '2019-02-12 10:16', '2019-02-12 10:05', '2019-02-12 09:55', '2019-02-12 09:45', '2019-02-12 09:36', '2019-02-12 09:26', '2019-02-12 09:16', '2019-02-12 09:06', '2019-02-12 08:56', '2019-02-12 08:46', '2019-02-12 08:35', '2019-02-12 08:25', '2019-02-12 08:15', '2019-02-12 08:06', '2019-02-12 07:55', '2019-02-12 07:45', '2019-02-12 07:35', '2019-02-12 07:25', '2019-02-12 07:15', '2019-02-12 07:05', '2019-02-12 06:56', '2019-02-12 06:46', '2019-02-12 06:36', '2019-02-12 06:26', '2019-02-12 06:15', '2019-02-12 06:06', '2019-02-12 05:55', '2019-02-12 05:45', '2019-02-12 05:36', '2019-02-12 05:26', '2019-02-12 05:15', '2019-02-12 04:55', '2019-02-12 04:45', '2019-02-12 04:35', '2019-02-12 04:26', '2019-02-12 04:15', '2019-02-12 04:05', '2019-02-12 03:55', '2019-02-12 03:45', '2019-02-12 03:36', '2019-02-12 03:26', '2019-02-12 03:16', '2019-02-12 03:05', '2019-02-12 02:55', '2019-02-12 02:46', '2019-02-12 02:36', '2019-02-12 02:25', '2019-02-12 02:15', '2019-02-12 02:06', '2019-02-12 01:55', '2019-02-12 01:45', '2019-02-12 01:36', '2019-02-12 01:26', '2019-02-12 01:15', '2019-02-12 01:05', '2019-02-12 00:56', '2019-02-12 00:46', '2019-02-12 00:35', '2019-02-12 00:25', '2019-02-12 00:15', '2019-02-12 00:06', '2019-02-11 23:56', '2019-02-11 23:45', '2019-02-11 23:36', '2019-02-11 23:26', '2019-02-11 23:16', '2019-02-11 23:05', '2019-02-11 22:55', '2019-02-11 22:46', '2019-02-11 22:36', '2019-02-11 22:25', '2019-02-11 22:15', '2019-02-11 22:05', '2019-02-11 21:55', '2019-02-11 21:46', '2019-02-11 21:36', '2019-02-11 21:25', '2019-02-11 21:15', '2019-02-11 21:06', '2019-02-11 20:56', '2019-02-11 20:46', '2019-02-11 20:35', '2019-02-11 20:26', '2019-02-11 20:16', '2019-02-11 20:06', '2019-02-11 19:55', '2019-02-11 19:46', '2019-02-11 19:36', '2019-02-11 19:26', '2019-02-11 19:16', '2019-02-11 19:06', '2019-02-11 18:56', '2019-02-11 18:46', '2019-02-11 18:36', '2019-02-11 18:25', '2019-02-11 18:16', '2019-02-11 18:06', '2019-02-11 17:56', '2019-02-11 17:46', '2019-02-11 17:36', '2019-02-11 17:25', '2019-02-11 17:15', '2019-02-11 17:06', '2019-02-11 16:55', '2019-02-11 16:46', '2019-02-11 16:35', '2019-02-11 16:26', '2019-02-11 16:16', '2019-02-11 16:06', '2019-02-11 15:55', '2019-02-11 15:46', '2019-02-11 15:36', '2019-02-11 15:26', '2019-02-11 15:16', '2019-02-11 15:05', '2019-02-11 14:56', '2019-02-11 14:45', '2019-02-11 14:36', '2019-02-11 14:26', '2019-02-11 14:15', '2019-02-11 14:06', '2019-02-11 13:56', '2019-02-11 13:46', '2019-02-11 13:36', '2019-02-11 13:25', '2019-02-11 13:16', '2019-02-11 13:05', '2019-02-11 12:56', '2019-02-11 12:45', '2019-02-11 12:35', '2019-02-11 12:26', '2019-02-11 12:15', '2019-02-11 12:06', '2019-02-11 11:56', '2019-02-11 11:46', '2019-02-11 11:36', '2019-02-11 11:26', '2019-02-11 11:15', '2019-02-11 11:06', '2019-02-11 10:56', '2019-02-11 10:45', '2019-02-11 10:36', '2019-02-11 10:26', '2019-02-11 10:16', '2019-02-11 10:06', '2019-02-11 09:56', '2019-02-11 09:45', '2019-02-11 09:36'],
                    datasets: [{
                        label: "Nodes Online",
                        borderColor: "#1a4d60",
                        pointBackgroundColor: "#1a4d60",
                        pointHoverBorderColor: "#099ba7",
                        pointHoverBackgroundColor: "##1a4d60",
                        pointBorderColor: "#1a4d60",
                        pointBorderWidth: 0,
                        pointRadius: 1, fill: false,
                        showLine: true,
                        steppedLine: true,
                        lineTension: 1,
                        backgroundColor: "1a4d60",
                        borderWidth: 0,
                        data: ['437', '438', '441', '441', '441', '440', '440', '440', '441', '439', '441', '441', '440', '440', '439', '441', '441', '441', '441', '442', '442', '442', '442', '441', '441', '440', '442', '442', '441', '442', '442', '442', '443', '442', '442', '441', '442', '440', '441', '439', '439', '439', '440', '442', '442', '442', '442', '442', '443', '442', '443', '440', '442', '442', '441', '441', '441', '442', '442', '442', '440', '441', '441', '442', '442', '441', '442', '443', '442', '442', '442', '441', '443', '443', '443', '441', '441', '444', '444', '442', '443', '442', '443', '443', '441', '440', '441', '440', '443', '440', '441', '441', '442', '441', '442', '442', '441', '442', '442', '441', '440', '440', '441', '439', '441', '440', '441', '440', '441', '440', '440', '440', '440', '438', '441', '440', '441', '439', '441', '440', '442', '442', '443', '442', '441', '442', '441', '443', '441', '443', '441', '442', '443', '441', '442', '442', '441', '443', '443', '443', '444', '441', '444', '442', '444', '439', '442', '443', '443', '442', '443', '442', '442', '441', '443', '443', '442', '441', '443', '444', '443', '444', '443', '440', '443', '444', '443', '444', '442', '444', '443', '444', '440', '438', '441', '444', '444', '443', '444', '443', '443', '443', '442', '443', '441', '443', '443', '443', '442', '442', '443', '443', '444', '442', '442', '442', '443', '442', '442', '443', '442', '442', '442', '443', '442', '443', '443', '444', '443', '442', '442', '442', '443', '442', '442', '443', '443', '441', '443', '443', '442', '442', '444', '444', '443', '442', '442', '442', '443', '443', '442', '442', '443', '442', '442', '441', '442', '442', '441', '443', '442', '442', '441', '441', '439', '440', '439', '440', '440', '440', '440', '440', '440', '439', '438', '439', '440', '440', '439', '440', '439', '440', '441', '441', '442', '442', '441', '441', '442', '437', '439', '440', '441', '441', '441', '441', '442', '439', '440', '441', '440', '440', '439', '439', '439', '440', '442', '442', '441', '442', '442', '443', '443', '441', '443', '443', '443', '442', '442', '441', '442', '441', '441', '440', '441', '441', '439', '441', '441', '441', '441', '442', '442', '442', '441', '441', '443', '442', '442', '442', '442', '443', '440', '443', '441', '441', '441', '440', '442', '442', '443', '443', '442', '442', '441', '441', '443', '442', '443', '442', '443', '443', '441', '442', '442', '442', '442', '442', '442', '442', '443', '443', '443', '440', '443', '443', '442', '443', '441', '441', '441', '441', '442', '443', '442', '443', '442', '441', '442', '442', '443', '443', '441', '442', '441', '442', '441', '442', '442', '441', '441', '441', '442', '443', '443', '443', '441', '442', '442', '442', '443', '441', '443', '442', '443', '442', '443', '441', '442', '440', '442', '441', '442', '442', '440', '440', '442', '442', '443', '442', '442', '444', '439', '440', '440', '443', '443', '440', '441', '441', '443', '443', '441', '439', '441', '440', '440', '440', '441', '441', '440', '440', '438', '439', '439', '438', '438', '437', '437', '439', '440', '439', '440', '441', '440', '440', '439', '439', '438', '437', '437', '437', '438', '438', '439', '438', '438', '440', '438', '440', '439', '440', '440', '440', '440', '443', '443', '442', '442', '442', '443', '442', '440', '441', '441', '440', '439', '439', '439', '442', '443', '442', '443', '442', '443', '442', '444', '444', '444', '443', '443', '445', '442', '444', '443', '445', '444', '442', '443', '444', '444', '444', '444', '445', '444', '445', '442', '445', '444', '445', '444', '443', '445', '444', '445', '444', '445', '445', '444', '444', '444', '445', '444', '445', '444', '444', '444', '444', '444', '443', '443', '443', '443', '444', '442', '443', '443', '443', '442', '441', '442', '441', '440', '440', '443', '443', '442', '442', '441', '443', '442', '442', '441', '438', '440', '439', '440', '438', '440', '440', '439', '440', '438', '439', '438', '437', '438', '436', '433', '433', '431', '429', '428', '425', '427', '426', '427', '424', '423', '421', '418', '414', '416', '415', '412', '412', '413', '412', '414', '413', '415', '414', '414', '415', '414', '415', '411', '415', '414', '413', '413', '415', '414', '415', '414', '415', '413', '414', '414', '415', '415', '415', '414', '415', '414', '414', '414', '413', '414', '413', '414', '413', '414', '416', '416', '416', '417', '417', '416', '416', '415', '414', '415', '415', '414', '414', '414', '413', '416', '416', '416', '415', '416', '416', '415', '416', '416', '416', '416', '415', '417', '417', '418', '418', '418', '418', '416', '416', '417', '418', '418', '418', '416', '417', '418', '418', '418', '417', '416', '416', '417', '417', '417', '416', '417', '415', '418', '419', '416', '416', '417', '416', '417', '417', '416', '417', '417', '418', '418', '418', '416', '417', '416', '416', '417', '417', '417', '417', '417', '417', '416', '417', '417', '418', '419', '417', '417', '418', '418', '416', '419', '405', '420', '418', '419', '418', '417', '416', '416', '416', '417', '414', '418', '417', '416', '417', '415', '417', '417', '416', '417', '416', '417', '416', '418', '418', '418', '418', '417', '417', '419', '419', '418', '417', '417', '417', '417', '418', '418', '417', '417', '416', '417', '417', '417', '414', '416', '417', '417', '416', '417', '417', '415', '417', '417', '417', '418', '417', '418', '418', '417', '415', '415', '414', '417', '419', '418', '418', '418', '417', '416', '417', '416', '416', '417', '417', '416', '416', '415', '415', '414', '415', '415', '414', '415', '416', '415', '415', '416', '414', '416', '414', '412', '413', '413', '412', '414', '413', '412', '412', '415', '415', '414', '415', '416', '414', '416', '416', '415', '415', '415', '415', '414', '415', '415', '413', '413', '413', '413', '414', '415', '415', '414', '413', '416', '416', '417', '416', '416', '416', '416', '416', '416', '416', '417', '417', '417', '417', '417', '418', '418', '417', '447', '448', '448', '448', '444', '448', '447', '447', '448', '448', '448', '447', '447', '447', '448', '447', '445', '447', '448', '447', '447', '446', '447', '448', '448', '447', '446', '447', '447', '448', '447', '446', '448', '448', '447', '446', '448', '447', '448', '448', '448', '446', '448', '447', '448', '447', '447', '448', '447', '447', '448', '447', '448', '447', '446', '447', '447', '447', '448', '448', '446', '447', '448', '448', '448', '447', '447', '448', '446', '447', '447', '448', '448', '448', '447', '448', '448', '447', '448', '448', '447', '447', '444', '446', '447', '447', '447', '447', '445', '446', '446', '446', '446', '447', '447', '444', '448', '448', '446', '448', '447', '446', '445', '448', '446', '447', '447', '448', '448', '447', '446', '447', '448', '448', '447', '448', '448', '447', '447', '448', '447', '449', '448', '449', '447', '447', '450', '447', '449', '448', '448', '447', '448', '449', '447', '447', '448', '449', '449', '449', '449', '449', '449', '450', '449', '449', '448', '448']
                    }
                        , {
                        label: "Average online", borderColor: "#099ba7",
                        pointBackgroundColor: "#099ba7", pointHoverBorderColor: "#099ba7",
                        pointHoverBackgroundColor: "#099ba7", pointBorderColor: "#099ba7",
                        pointBorderWidth: 0,
                        pointRadius: 1,
                        fill: false,
                        showLine: true,
                        lineTension: 1,
                        steppedLine: true,
                        backgroundColor: "#099ba7",
                        borderWidth: 0,
                        data: ['445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '445', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '446', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447', '447']
                    }
                    ]
                }
                , options: {
                    legend: {
                        display: true,
                        position: "top",
                        labels: {
                            fontColor: "#2e3451", usePointStyle: true, fontSize: 13,
                        }
                    }
                    , tooltips: {
                        backgroundColor: "rgba(47, 49, 66, 0.8)",
                        titleFontSize: 13, titleFontColor: "#fff", caretSize: 0, cornerRadius: 4, xPadding: 10, displayColors: false, yPadding: 10
                    }
                    , scales: {
                        yAxes: [{
                            ticks: {
                                display: true, beginAtZero: false
                            }
                            , gridLines: {
                                drawBorder: true, display: true
                            }
                        }
                        ], xAxes: [{
                            gridLines: {
                                drawBorder: true, display: false
                            }
                            , ticks: {
                                display: false
                            }
                        }
                        ]
                    }
                }
            }
            );
            // nem-uqharvstr
            var a = document.getElementById("nem-uqharvstr").getContext("2d");
            var b = new Chart(a, {
                type: "line", data: {
                    labels: [611440, 611440, 614320, 615760, 617200, 618640, 620080, 621520, 622960, 624400, 625840, 627280, 628720, 630160, 631600], datasets: [{
                        label: "Harvesters", borderColor: "#08a6c3", pointBackgroundColor: "#08a6c3",
                        pointHoverBorderColor: "#08a6c3", pointHoverBackgroundColor: "#08a6c3",
                        pointBorderColor: "#fff", pointBorderWidth: 1, pointRadius: 0, fill: true,
                        backgroundColor: "#08a6c3", borderWidth: 0, data: [100, 200, 300, 400, 500, 600, 700, 800, 900]
                    }
                    ]
                }
                , options: {
                    legend: {
                        display: false, position: "top", labels: {
                            fontColor: "#2e3451", usePointStyle: true, fontSize: 13
                        }
                    }
                    , tooltips: {
                        backgroundColor: "rgba(47, 49, 66, 0.8)", titleFontSize: 13, titleFontColor: "#fff", caretSize: 0, cornerRadius: 4, xPadding: 10, displayColors: false, yPadding: 10
                    }
                    , scales: {
                        yAxes: [{
                            ticks: {
                                display: true, beginAtZero: false
                            }
                            , gridLines: {
                                drawBorder: true, display: true,
                            }
                        }
                        ], xAxes: [{
                            gridLines: {
                                drawBorder: true, display: false,
                            }
                            , ticks: {
                                display: false, beginAtZero: false
                            }
                        }
                        ]
                    }
                }
            }
            );
            //nem-transc
            var a = document.getElementById("nem-transc").getContext("2d");
            var b = new Chart(a, {
                type: "line", data: {
                    labels: [new Date('May 30, 2016'), new Date('May 31, 2016'), new Date('Jun 01, 2016'), new Date('Jun 02, 2016'), new Date('Jun 03, 2016'), new Date('Jun 04, 2016'), new Date('Jun 05, 2016'), new Date('Jun 06, 2016'), new Date('Jun 07, 2016'), new Date('Jun 08, 2016'), new Date('Jun 09, 2016'), new Date('Jun 10, 2016'), new Date('Jun 11, 2016'), new Date('Jun 12, 2016'), new Date('Jun 13, 2016'), new Date('Jun 14, 2016'), new Date('Jun 15, 2016'), new Date('Jun 16, 2016'), new Date('Jun 17, 2016'), new Date('Jun 18, 2016'), new Date('Jun 19, 2016'), new Date('Jun 20, 2016'), new Date('Jun 21, 2016'), new Date('Jun 22, 2016'), new Date('Jun 23, 2016'), new Date('Jun 24, 2016'), new Date('Jun 25, 2016'), new Date('Jun 26, 2016'), new Date('Jun 27, 2016'), new Date('Jun 28, 2016'), new Date('Jun 29, 2016'), new Date('Jun 30, 2016'), new Date('Jul 01, 2016'), new Date('Jul 02, 2016'), new Date('Jul 03, 2016'), new Date('Jul 04, 2016'), new Date('Jul 05, 2016'), new Date('Jul 06, 2016'), new Date('Jul 07, 2016'), new Date('Jul 08, 2016'), new Date('Jul 09, 2016'), new Date('Jul 10, 2016'), new Date('Jul 11, 2016'), new Date('Jul 12, 2016'), new Date('Jul 13, 2016'), new Date('Jul 14, 2016'), new Date('Jul 15, 2016'), new Date('Jul 16, 2016'), new Date('Jul 17, 2016'), new Date('Jul 18, 2016'), new Date('Jul 19, 2016'), new Date('Jul 20, 2016'), new Date('Jul 21, 2016')],
                    datasets: [{
                        label: "Transactions", borderColor: "#08a6c3",
                        pointBackgroundColor: "#08a6c3",
                        pointHoverBorderColor: "#08a6c3",
                        pointHoverBackgroundColor: "#08a6c3", pointBorderColor: "#fff",
                        pointBorderWidth: 0, pointRadius: 1, fill: true, backgroundColor: "#08a6c3",
                        borderWidth: 0,
                        data: [611440, 612880, 614320, 162, 615760, 617200]
                    }
                    ]
                }
                , options: {
                    legend: {
                        display: true, position: "top", labels: {
                            fontColor: "#2e3451", usePointStyle: true, fontSize: 13
                        }
                    }
                    , tooltips: {
                        backgroundColor: "rgba(47, 49, 66, 0.8)", titleFontSize: 13, titleFontColor: "#fff", caretSize: 0, cornerRadius: 4, xPadding: 10, displayColors: false, yPadding: 10
                    }
                    , scales: {
                        yAxes: [{
                            ticks: {
                                display: true, beginAtZero: false
                            }
                            , gridLines: {
                                drawBorder: true, display: true
                            }
                        }
                        ], xAxes: [{
                            gridLines: {
                                drawBorder: true, display: true
                            }
                            , ticks: {
                                display: false, beginAtZero: false
                            }
                        }
                        ]
                    }
                }
            }
            );
            //nem-accnts
            var a = document.getElementById("nem-accnts").getContext("2d");
            var b = new Chart(a, {
                type: "line", data: {
                    labels: ["700k", "800k", "900k", "1M", "1.1M", '1.2M', '1.3M', '1.4M', '1.5M', '1.6M'], datasets: [{
                        label: "Accounts", borderColor: "#08a6c3", pointBackgroundColor: "#08a6c3", pointHoverBorderColor: "#08a6c3", pointHoverBackgroundColor: "#08a6c3",
                        pointBorderColor: "#fff", pointBorderWidth: 0, pointRadius: 1, fill: true, backgroundColor: "#08a6c3", borderWidth: 0,
                        data: [0, 10000, 20000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 110000, 120000]
                    }
                    ]
                }
                , options: {
                    legend: {
                        display: true, position: "top", labels: {
                            fontColor: "#2e3451", usePointStyle: true, fontSize: 13
                        }
                    }
                    , tooltips: {
                        backgroundColor: "rgba(47, 49, 66, 0.8)", titleFontSize: 13, titleFontColor: "#fff", caretSize: 0, cornerRadius: 4, xPadding: 10, displayColors: false, yPadding: 10
                    }
                    , scales: {
                        yAxes: [{
                            ticks: {
                                display: true, beginAtZero: true
                            }
                            , gridLines: {
                                drawBorder: true, display: true
                            }
                        }
                        ], xAxes: [{
                            gridLines: {
                                drawBorder: true, display: true
                            }
                            , ticks: {
                                display: true
                            }
                        }
                        ]
                    }
                }
            }
            );
            // nem-avg-dfclty
            var a = document.getElementById("nem-avg-dfclty").getContext("2d");
            var b = new Chart(a, {
                type: "line", data: {
                    labels: [610560, 612000, 613440, 643680, 675360, 692640, 696960, 784800, 786240, 800640, 815040], datasets: [{
                        label: "Score", borderColor: "#08a6c3", pointBackgroundColor: "#08a6c3", pointHoverBorderColor: "#08a6c3", pointHoverBackgroundColor: "#08a6c3",
                        pointBorderColor: "#fff", pointBorderWidth: 0, pointRadius: 1, fill: true, backgroundColor: "#08a6c3", borderWidth: 0,
                        data: [0, 0.2, 0.4, 0.6, 0.8, 1, 1.2, 1.4, 1.6, 1.8, 1.0899675679478]
                    }
                    ]
                }
                , options: {
                    legend: {
                        display: true, position: "top", labels: {
                            fontColor: "#2e3451", usePointStyle: true, fontSize: 13
                        }
                    }
                    , tooltips: {
                        backgroundColor: "rgba(47, 49, 66, 0.8)", titleFontSize: 13, titleFontColor: "#fff", caretSize: 0, cornerRadius: 4, xPadding: 10, displayColors: false, yPadding: 10
                    }
                    , scales: {
                        yAxes: [{
                            ticks: {
                                display: true, beginAtZero: true
                            }
                            , gridLines: {
                                drawBorder: true, display: true
                            }
                        }
                        ], xAxes: [{
                            gridLines: {
                                drawBorder: true, display: true
                            }
                            , ticks: {
                                display: true
                            }
                        }
                        ]
                    }
                }
            }
            );

        })(jQuery);
    </script>
<% include comm/page_end %>