<%
    var pd ={};
    pd.title = conf.app_title;
    if(page_title) pd.title = page_title;
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=pd.title%></title>
    <meta name="description" content="Psyight">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Montserrat:400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="theme/img/favico.png">
    <link rel="icon" type="image/png" sizes="32x32" href="theme/img/favico.png">
    <link rel="icon" type="image/png" sizes="16x16" href="theme/img/favico.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="theme/css/grid.min.css">
    <link rel="stylesheet" href="theme/css/style.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]
    -->
</head>