<header class="ex-header bg01">
    <div class="container n-p">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-md-1 logo-wrap">
                <a href="index.html" class="logo-h"><img src="theme/img/logo-w.png" alt='Nem'></a>
                </div>
                <div class="col-md-8">
                    <div class="nav-con">
                        <ul class="nav-menu">
                            <li><a href="/#" > Nodes</a></li>
                            <li><a href="/network_stat">Network Stat</a></li>
                            <li><a href="/map">Map</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-3 lang-swtchwrap">
                    <div class="lang-swtch dropdown ">
                        <a class="dropdown-toggle"><i class="flag-icon fl-i-us"></i>English</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item active" href="#"><i class="flag-icon fl-i-us"></i>English</a>
                            <a class="dropdown-item" href="#"><i class="flag-icon fl-i-jp"></i>日本語</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
</header>